@theme {
  --shadow-footer: 0 -4px 52px rgba(0, 0, 0, 0.15);
  --shadow-header: 0 4px 52px rgba(0, 0, 0, 0.15);
  --shadow-panel: 0 0 10px -7px rgb(0, 0, 0);
  --shadow-box1: 0px 16px 34px 0px #002b4008;
  --shadow-box2: 0px 62px 62px 0px #002b4008;
  --shadow-box3: 0px 140px 84px 0px #002b4005;
  --shadow-box4: 0px 250px 100px 0px #002b4000;
  --shadow-box5: 0px 390px 109px 0px #002b4000;
  --shadow-Icon-box: 0px 1px 2px 0px #002b400d;
  --shadow-shadow-xS: 0px 1px 2px 0px rgba(26, 84, 142, 0.05);
  --shadow-button-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.3) inset;
  --shadow-virtual-pOP: 0px 32px 64px -12px rgba(0, 43, 64, 0.14);
  --shadow-virtual-item: 0px 24px 9px 0px rgba(12, 19, 26, 0.01);
  --shadow-dropdown-menu: 0px 12px 16px -4px rgba(0, 43, 64, 0.08);
  --shadow-input: 0px 1px 2px 0px rgba(0, 43, 64, 0.05);
  --shadow-input-focus: 0px 0px 0px 4px rgba(31, 62, 114, 0.25);
  --shadow-video-name: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);

  /* Zen Leader Mobile AppColors equivalents */
  --color-primary-color: #1f3e72;
  --color-secondary-color: #87c744;
  --color-brand-red: #ca3120;
  --color-dark-primary: #101114;
  --color-dark-secondary: #1e1e1e;
  --color-dark-secondary2: #1a3550;
  --color-dark-secondary3: #141a24;
  --color-dark-text: #8fb1ff;
  --color-Blue: #02a190;
  --color-Dark-blue: #1a5467;

  --color-Gray-25: #fafafa;
  --color-Gray-50: #f8f9fa;
  --color-Gray-100: #f0f0f0;
  --color-Gray-200: #e8e3e3;
  --color-Gray-300: #d4d0d0;
  --color-Gray-500: rgba(156, 163, 175, 1);
  --color-Gray-600: #1a5467;
  --color-Gray-700: #1f3e72;
  --color-Gray-800: #1b2028;
  --color-Gray-900: #1e1e1e;
  --color-Gray-950: #101114;

  --color-Red-25: #fffafa;
  --color-Red-50: #fdecea;
  --color-Red-100: rgba(250, 225, 225, 1);
  --color-Red-200: #f5b5ae;
  --color-Red-400: #ca3120;
  --color-Red-600: #ca3120;
  --color-Red-700: #9e2719;

  --color-Green-100: rgba(240, 249, 232, 1);
  --color-Green-700: rgba(135, 199, 68, 1);

  --color-Blue2-50: #eef2f8;
  --color-Blue2-500: #0d6efd;
  --color-Blue2-600: #02a190;
  --color-Blue2-700: #1f3e72;
  --color-Blue2-800: rgba(20, 34, 54, 1);

  --radius-tlbl-d: 0 0 20px 20px;
  --radius-trbr-d: 20px 20px 0 0;
  --radius-MSG: 0 15px 15px;
  --radius-MSGME: 15px 0 15px 15px;

  --breakpoint-3xl: 110rem;
}
